@CHARSET "UTF-8";
@font-face { font-family: 'Cafe24Ohsquare'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
	font-family: 'Cafe24Ohsquare';
}

/* 상단 header영역 */
#dogImg{
	width: 600px;
	height: 200px;
	margin-left: 250px;
}
body{
	width:1100px;
	margin: auto;
	background-color: white;
}
#menu li{
	background-color: silver;
	width: 1100px;
	text-align: right;
}
#menu a{
	text-decoration: none;
	color: black;
	margin-right: 200px;
}
#menu a:HOVER{
	color: red;
	text-align: center;
}

#menu li{
	list-style: none;
	display: inline;
}

#menu{
	color: silver;
}
#menu a{
	text-align: center;
	float: right;
}

.loginJoin{
	margin-top:20px;
	clear:both;
	float: right;
	display: grid;
}
.loginJoin a{
	text-decoration: none;
	color: black;
}
.loginJoin a:HOVER{
	color: red;
}

#memberSearch{
	cursor:pointer;
}


#galaryT{
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}
#galaryT img{
	width: 240px;
	height: 200px;
}
#galaryT th{
	color: darkgray;
	font-size: 20px;
}

/*            ------------------------------                  */
#galaryT:hover{
	background-color: #f1f1f1;
	cursor: pointer;
	border-radius:30px;
}


#body{
	min-height: 700px;
}

#write{
	float: right;
}
#downBtn{
	background-color: black;
	border: 1px solid black;
	color: white;
	border-radius:5px;
}
#downBtn:hover{
	background-color: teal;
	border: 1px solid teal;
	color: white;
	border-radius:5px;
}
input[type="button"]{
	background-color: black;
	border: 1px solid black;
	border-radius:5px;
	color: white;
	font-weight: bold;
}
input[type="button"]:hover{
	background-color: teal;
	border: 1px solid teal;
	border-radius:5px;
	color: white;
	font-weight: bold;
}
.picture{
	border-radius:50px; 
}
#galaryD{
	text-align: center;
}
#galaryD th{
	color: darkgray;
}
.btn{
	background-color: black;
	border: 1px solid black;
	border-radius:5px;
	color: white;
	font-weight: bold;
}
.btn:HOVER{
	background-color: teal;
	border: 1px solid teal;
	border-radius:5px;
	color: white;
	font-weight: bold;
}
#picture{
	height:650px;
	width:600px;
	border-radius:50px;
}
#galaryComment a{
	text-decoration: none;
	color: darkgray;
}
#galaryComment a:hover{
	cursor: pointer;
	color: red;
}
/*             ----------------------------- */
footer{
	background-color: silver;
	clear: both;
}
	